.Container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 50px;

  .HeaderNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
    h1 {
      margin: 0;
      font-size: 40px;
    }
    .ButtonAddressContainer {
      width: 100%;
      max-width: 500px;
      display: flex;
      flex-direction: column;
      .ButtonOnly {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 10px;
        button {
          background-color: #0d6efd;
          color: #fff;
          border-radius: 5px;
          font-size: 18px;
          border: none;
          padding: 10px 25px;
          &:hover {
            cursor: pointer;
          }
        }
      }
      p {
        margin: 0;
        text-align: center;
      }
    }
  }
}
