.Container {
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 15px;
  position: relative;
  &:hover {
    cursor: pointer;
  }
  h2 {
    margin: 0;
    margin-bottom: 10px;
  }
  p {
    margin: 0;
    margin-bottom: 10px;
  }
  .DateId {
    display: flex;
    align-items: center;
    color: #a8a8a8;
  }
  .Status {
    color: white;
    font-weight: 700;
    padding: 5px 15px;
    border-radius: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
